body {
    background: url("img/bg-2.jpg") no-repeat center center fixed;
    background-size: cover;
}

.logo {
    text-align: center;
    transform: translateY(3rem);
}

.auth-card{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding: 2rem;
    border: solid 1px;
    box-shadow: 0 0 1rem deepskyblue;
    border-radius: 10px;
    border-color: deepskyblue;
    background: white;
    width: 500px;
    /*margin-top: 10rem;*/
    top: 50%;
    left: 34%;
    transform: translateX(1.5rem);
}

.label {
    font-family: "Century Gothic";
    font-size: 18px;
}

.btn {
    border-color: black;
    background-color: black;
    color: white;
    font-family: "Century Gothic";
    font-size: 15px;
}