.bg {
  background: url("/assets/images/bg-2.jpg") no-repeat center center fixed;
  background-size: cover;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  label {
    font-size: 18px;
  }
}
